# Go binaries and builds
/bin/
*.exe
*.test
*.prof

# PostgreSQL database folder
/database/
./database/

# Dependency directories
/node_modules/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS files
.DS_Store
Thumbs.db
